body{
  padding: 0;
  margin: 0;
  background-image: url("https://img.freepik.com/free-photo/health-insurance-concept-reduce-medical-expenses-hand-flip-wood-cube-with-icon-healthcare-medical-coin-wood-background-copy-space_52701-34.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.heading{
  font-size: 2rem;
  font-family: 'Road Rage', cursive;
}

#form_container{
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */

}



.form{
  /* margin-left: auto; */
}

.search{
  text-decoration: none;
}